<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <title data-i18n="eljuhany">El Juhany Law Firm </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords"
    content="el juhany, El Juhany , law firm , LawFirm, lawfirm , ahmed el juhany, Ahmed El Juhany , الجهني , احمد فؤاد الجهني , الجهني للمحامون, مكتب الجهني ">
  <meta name="author" content="el juhany">
  <meta property="og:site_name" content="احمد الجهني" />
  <meta name="og:description"
    content="مكتب الجهني للمحاماة هو واحد من أكبر مكاتب المحاماة التجارية المتكاملة في مصر والشرق الأوسط. تأسست في عام 1997. هدفنا هو تزويد عملائنا بخدمات عالية الجودة وحلول قانونية مبتكرة في مجالات الأفراد والشركات والتسجيلات.  " />
  <meta property="og:url" content="https://www.juhany-lawfirm.com/" />
  <meta property="facebook:url" content="https://www.facebook.com/ahmdeljohny/" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://www.elmydannews.com/img/9/3/93066.jpg" />
  <meta property="og:video" content="https://youtu.be/1n_Rv6IldtU?si=P0KjDDa9t2wuosDo" />

  <meta property="og:title" content="مكتب الجهني للمحامون | El Juhany Law Firm | الجهني للمحامون">

  <meta name="description"
    content="مكتب الجهني للمحاماة هو واحد من أكبر مكاتب المحاماة التجارية المتكاملة في مصر والشرق الأوسط. تأسست في عام 1997. هدفنا هو تزويد عملائنا بخدمات عالية الجودة وحلول قانونية مبتكرة في مجالات الأفراد والشركات والتسجيلات.  " />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">

  <meta http-equiv="Pragma" content="no-cache">

  <meta http-equiv="Expires" content="0">

  <link rel="stylesheet" class="styleLang styleEn" href="css/style.css">
  <link rel="stylesheet" class="styleLang styleAr" href="css/style-ar.css" disabled>
  <!-------------google fonts------------------------>
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" as="font"
    onload="this.onload=null;this.rel='stylesheet'">

  <!---------icon broswer tab----------->
  <link rel="icon" type="image/x-icon"
    href="images/Law-logo-design-template-on-transparent-background-PNG-removebg-preview.webp" alt="Al-Juhani-logo">


  <!-------------fontawesome css------------------------->

  <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    as="font" onload="this.onload=null;this.rel='stylesheet'">


  <!-------------animate css------------------------->

  <link rel="stylesheet" href="css/animate.css">


  <!-------------owl carousel css------------------------->



  <link rel="preload" href="css/owl.carousel.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" as="style"
    onload="this.onload=null;this.rel='stylesheet'">



  <!-------------owl carousel theme css------------------------->
  <link rel="preload" href="css/owl.theme.default.min.css" crossorigin="anonymous" referrerpolicy="no-referrer"
    as="style" onload="this.onload=null;this.rel='stylesheet'">


  <link rel="preload" href="css/magnific-popup.css" crossorigin="anonymous" referrerpolicy="no-referrer" as="style"
    onload="this.onload=null;this.rel='stylesheet'" />

  <link rel="preload" href="css/flaticon.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" as="style"
    onload="this.onload=null;this.rel='stylesheet'" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
    crossorigin="" />

  <!--------------jquery----------------------->
  <script src="js/jquery.min.js" crossorigin="anonymous" defer></script>

  <!---------jquery migrate---------------->
  <script src="js/jquery-migrate.min.js" referrerpolicy="no-referrer" defer></script>

  <!--------------bootstrap 4-------------------->
  <script src="js/bootstrap.min.js" crossorigin="anonymous" defer></script>

  <!------------jquery easing---------------->
  <script src="js/jquery.easing.min.js" referrerpolicy="no-referrer" defer></script>
  <!------------jquery waypoints---------------->
  <script src="js/jquery.waypoints.min.js" referrerpolicy="no-referrer" defer></script>
  <!------------jquery stellar---------------->
  <script src="js/jquery.stellar.min.js" referrerpolicy="no-referrer" defer></script>

  <!------------owl carousel---------------->
  <script src="js/owl.carousel.min.js" referrerpolicy="no-referrer" defer></script>
  <!-------------magnific popup jquery--------------->
  <script src="js/jquery.magnific-popup.min.js" referrerpolicy="no-referrer" defer></script>

  <!--------scrollmax js--------------->
  <script src="js/scrollax.min.js" defer></script>
  <!-------------jquery animate number------------------>
  <script src="js/jquery.animateNumber.min.js" defer></script>

  <script>
    gtag('config', 'AW-11398503967/NZmjCNH_1vMYEJ-8nbsq', {
      'phone_conversion_number': '201001647862+'
    });
  </script>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11398503967">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'AW-11398503967');
  </script>




  <script src="js/leaflet.js" defer></script>
  <script src="js/pagination.js" defer></script>
  <script src="js/map.js" defer></script>
  <!-------------main file js----------------->
  <script src="js/main.js" defer></script>




  <!--------------app file js-------------------->
  <script src="js/app.js" defer></script>

</head>
<div class="wrap">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-flex align-items-center">
        <p class="mb-0 phone pl-md-2">
          <a href="https://wa.me/+201001647862" class="mr-2"><span class="fa fa-phone mr-1"></span> <span
              data-i18n="footerPara2">+201001647862</span></a>
          <a href="mailto:Afg.economics7@gmail.com"><span class="fa fa-paper-plane mr-1"></span>
            Afg.economics7@gmail.com</a>
        </p>
      </div>
      <div class="col-md-6 d-flex justify-content-md-end">
        <div class="social-media">
          <p class="mb-0 d-flex">
            <a href="https://www.facebook.com/ahmed.foad.754"
              class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i
                  class="sr-only">Facebook</i></span></a>
            <a href="https://www.youtube.com/@ahmedfoad500"
              class="d-flex align-items-center justify-content-center"><span class="fa fa-youtube"><i
                  class="sr-only">Facebook</i></span></a>

          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand website-logo" href="#">
      <img class="logo-img logo-En" src="images/logoEn.webp" width="180px" height="60px" alt="el juhany">
      <img class="logo-img logo-Ar" src="images/logoAr.webp" width="180px" height="60px" alt="الجهني">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto navbar-ar links">
        <li class="nav-item">
          <a href="index.html" data-i18n="home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="about.html" data-i18n="about" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="services.html" data-i18n="services" class="nav-link">Services</a>
        </li>
        <li class="nav-item">
          <a href="blog.html" data-i18n="blog" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="contact.html" data-i18n="contact" class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a href="team.html" data-i18n="team" class="nav-link">team</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDarkDropdownMenuLink" data-i18n="lang"
            role="button" data-bs-toggle="dropdown" aria-expanded="false">
            language
          </a>
          <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
            <li>
              <a class="dropdown-item language" href="javascript:void(0)" id="arabic">عربي</a>
            </li>
            <li>
              <a class="dropdown-item language" id="english" href="javascript:void(0)">English</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<section
      class="hero-wrap hero-wrap-2"
  style="
        background-image: url('images/justice-and-law-concept-male-judge-in-a-courtroom-on-wooden-table-and-counselor-or-male-lawyer-working-in-office-legal-law-advice-and-justice-concept-free-video.webp');"
      data-stellar-background-ratio="0.5"
    >
      <div class="overlay"></div>

      <div class="container">
        <div
          class="row no-gutters slider-text align-items-end justify-content-center"
        >
          <div class="col-md-9 ftco-animate mb-5 text-center">
            <p class="breadcrumbs mb-0">
              <span class="mr-2"
                ><a href="{% url 'home' %}" data-i18n="home">Home </a>
              </span>

              <i class="fa fa-chevron-left"></i>
              <span data-i18n="services"> Practice Areas </span>
            </p>
            <h1 class="mb-0 bread" data-i18n="services">Services</h1>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
      <div class="container">
      <div class="row justify-content-center pb-5">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading" data-i18n="legalServices"
          >Legal Services</span
        >
        <h2 data-i18n="legalServices">Legal Services</h2>
      </div>
      </div>
      <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-stats"></span>
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-stats"></span>
            </div>
          </div>
          <h2 data-i18n="lawServies2">Incorporation of companies</h2>
          <p data-i18n="lawServiesPara1">
            The company provides company incorporation and registration
            services in Egypt, including preparing the necessary legal
            documents and dealing with the concerned government agencies.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-family"></span>
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-family"></span>
            </div>
          </div>
          <h2 data-i18n="lawServies4">Debt collection</h2>
          <p data-i18n="lawServiesPara2">
            The institution is one of the best debt collection offices in
            Egypt, as it cooperates with many international law firms
            outside the region, and cooperates with many bodies specialized
            in collecting commercial debts, whether inside Egypt or within
            the Arab world.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-handcuffs"></span>
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-handcuffs"></span>
            </div>
          </div>
          <h2 data-i18n="lawServies3">Licenses</h2>
          <p data-i18n="lawServiesPara3">
            The Corporation assists its customers in obtaining the necessary
            licenses to practice their activity, and these services include
            submitting and following up applications, conducting inspections
            and assisting customers in complying with the laws and
            requirements required for granting licenses.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-stay-home"></span>
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-stay-home"></span>
            </div>
          </div>
          <h2 data-i18n="lawServies7">Mergers & Acquisitions</h2>
          <p data-i18n="lawServiesPara4">
            The firm provides mergers and acquisitions services to the
            largest entities, under the supervision of a group of
            specialized lawyers
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-injury"></span>
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-injury"></span>
            </div>
          </div>
          <h2 data-i18n="lawServies6">
            Contracting & Construction Contracts
          </h2>
          <p data-i18n="lawServiesPara5">
            The firm provides legal services to major contracting and
            construction companies in Egypt and the Arab world by a group of
            contracting and construction contract lawyers in Egypt. Our
            services include drafting and reviewing contracting and
            construction contracts, as well as subcontracting contracts, in
            addition to conducting tenders and auctions, preparing and
            drafting specifications and providing legal advice in everything
            related to contracting and real estate development at the local
            and international levels.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-auction"></span>
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <span class="flaticon-auction"></span>
            </div>
          </div>
          <h2 data-i18n="lawServies5">Taxes</h2>
          <p data-i18n="lawServiesPara6">
            The Corporation provides legal services related to taxes,
            including filing appeals and representing clients before courts
            of all degrees, in addition to conducting settlement with
            various tax authorities.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/team.webp"
                class="img-fluid"
                width="100px"
                height="100px"
              />
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/team.webp"
                class="img-fluid"
                width="100px"
                height="100px"
              />
            </div>
          </div>
          <h2 data-i18n="lawServies66">Intellectual Property</h2>
          <p data-i18n="lawServiesPara77">
            The Foundation works with several commercial companies regarding
            the registration of their trademarks in Egypt, or the
            registration of patents resulting from their innovation. The
            Foundation also registers industrial designs and plant
            varieties, as well as domain registration.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/litigation.webp "
                class="img-fluid"
                width="29px"
                height="80px"
              />
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/litigation.webp"
                class="img-fluid"
                width="100px"
                height="100px"
              />
            </div>
          </div>
          <h2 data-i18n="lawServies77">Litigation</h2>
          <p data-i18n="lawServiesPara88">
            The litigation department is one of the most important sections
            in the institution, as it is responsible for defending our
            clients, whether in the lawsuits they file or in what is filed
            against them, and the institution has the best lawyers in Egypt
            specialized in this field.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/translation.webp"
                class="img-fluid"
                width="29px"
                height="80px"
              />
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/translation.webp"
                class="img-fluid"
                width="100px"
                height="100px"
              />
            </div>
          </div>
          <h2 data-i18n="lawServies8">Legal Translation</h2>
          <p data-i18n="lawServiesPara9">
            The institution relies on the best translators and linguists,
            who can provide the best quality in the shortest possible time.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/international.webp"
                class="img-fluid"
                width="29px"
                height="80px"
              />
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/international.webp"
                class="img-fluid"
                width="100px"
                height="100px"
              />
            </div>
          </div>
          <h2 data-i18n="lawServies9">
            International Commercial Arbitration
          </h2>
          <p data-i18n="lawServiesPara10">
            Center for Dispute Resolution through International Commercial
            Arbitration
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/contract.webp"
                class="img-fluid"
                width="29px"
                height="80px"
              />
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/contract.webp"
                class="img-fluid"
                width="100px"
                height="100px"
              />
            </div>
          </div>
          <h2 data-i18n="lawServies10">Drafting contracts</h2>
          <p data-i18n="lawServiesPara11">
            Our firm is distinguished from other institutions in drafting
            commercial contracts, so we are the best choice for those
            looking for a specialized contract lawyer, whether in Egypt, at
            home or in any country in the world. This is due to the strategy
            pursued by the institution in drafting contracts, in addition to
            the ingredients that make us the undisputed best, and the
            institution has a group of lawyers specialized in drafting
            contracts
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/development.webp"
                class="img-fluid"
                width="29px"
                height="80px"
              />
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/development.webp"
                class="img-fluid"
                width="100px"
                height="100px"
              />
            </div>
          </div>
          <h2 data-i18n="lawServies11">Corporate Governance</h2>
          <p data-i18n="lawServiesPara12">
            The company provides company incorporation and registration
            services in Egypt, including preparing the necessary legal
            documents and dealing with the concerned government agencies.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/solar-panels.webp"
                class="img-fluid"
                width="29px"
                height="80px"
              />
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/solar-panels.webp"
                class="img-fluid"
                width="100px"
                height="100px"
              />
            </div>
          </div>
          <h2 data-i18n="lawServies12">Energy Sector</h2>
          <p data-i18n="lawServiesPara13">
            The Corporation provides legal services related to the gas and
            petroleum sector, which includes drafting and reviewing
            contracts related to this sector, and the Corporation has
            represented many petroleum companies before international
            arbitration tribunals, and before Egyptian courts of various
            degrees.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/enterprise.webp"
                class="img-fluid"
                width="29px"
                height="80px"
              />
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <img
              src="images/enterprise.webp"
                class="img-fluid"
                width="100px"
                height="100px"
              />
            </div>
          </div>
          <h2 data-i18n="lawServies13">Property services</h2>
          <p data-i18n="lawServiesPara14">
            The institution provides, through a group of specialized real
            estate lawyers, all legal services related to real estate wealth
            in Egypt, which include contracts for the sale and purchase of
            real estate, as well as its registration before the competent
            authorities, whether the registration is consensual or by force
            of law.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/bank.webp"
                class="img-fluid"
                width="29px"
                height="80px"
              />
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/bank.webp"
                class="img-fluid"
                width="100px"
                height="100px"
              />
            </div>
          </div>
          <h2 data-i18n="lawServies14">Banking Finance</h2>
          <p data-i18n="lawServiesPara15">
            The firm provides legal advice related to project financing,
            letters of guarantee and credit, and it also has a group of
            academics and bank lawyers specialized in project financing
            matters and letters of guarantee.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/dispute.webp"
                class="img-fluid"
                width="29px"
                height="80px"
              />
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/dispute.webp"
                class="img-fluid"
                width="80px"
                height="80px"
              />
            </div>
          </div>
          <h2 data-i18n="lawServies15">Labor disputes</h2>
          <p data-i18n="lawServiesPara16">
            We specialize in settling international disputes between
            individuals, companies and institutions from one country to
            another; we represent the link of mutual transactions between
            countries and each other.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/migration.webp"
                class="img-fluid"
                width="29px"
                height="80px"
              />
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/migration.webp"
                class="img-fluid"
                width="80px"
                height="80px"
              />
            </div>
          </div>
          <h2 data-i18n="lawServies16">
            Foreigners Affairs and Consular Services
          </h2>
          <p data-i18n="lawServiesPara17">
            The Foundation always seeks to serve its customers, whether they
            are Egyptians or foreigners, and therefore the Foundation
            provides services related to foreigners' affairs and consular
            services.
          </p>
        </div>
      </div>
      <div class="col-lg-4 d-flex align-items-stretch ftco-animate">
        <div class="services-2 text-center">
          <div class="icon-wrap">
            <div
              class="mini-icon d-flex align-items-center justify-content-center"
            >
              <img
              src="images/lawyer.webp"
                class="img-fluid"
                width="29px"
                height="80px"
              />
            </div>
            <div
              class="icon d-flex align-items-center justify-content-center"
            >
              <img
                src="images/lawyer.webp"
                class="img-fluid"
                width="80px"
                height="80px"
              />
            </div>
          </div>
          <h2 data-i18n="lawServies200">
            Training And Qualification Of Lawyers And Legal
      
          </h2>
          <p data-i18n="lawServiesPara200">
            We aim to develop the skills of new and experienced lawyers in various fields of law. We offer theoretical and practical courses covering topics such as judicial procedure, negotiation, arbitration, professional responsibility, and ethics. We help lawyers improve their efficiency and quality of services to clients and society.
          </p>
        </div>
      </div>
      </div>
      </div>
      </section>
    <section
      class="ftco-appointment ftco-section img"
      style="background-image: url( 'images/bg_2.webp')"
    >
               <div class='sucess-overlay'></div>
    <div class="message-success">
      <div class="check">&#10004;</div>
      <p data-i18n="Success">Success</p>
      <p data-i18n="successful">
        Thanks For your Message. We'll see you soon!
      </p>
      <button id="ok" data-i18n="ok">OK</button>
    </div>
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 pr-md-5">
            <div class="heading-section heading-section-white">
              <h2 class="mb-3" data-i18n="contactHeading">
                We Welcome All Your Questions
              </h2>
              <p data-i18n="contactp">
                You can also contact us via the contact form on our website. We
                believe in the confidentiality and reliability of all
                information we receive from you. Be sure to provide all the
                required information in the contact form to ensure a response
                from us.
              </p>
              <div class="row mt-md-4">
                <div class="col-lg-6">
                  <div class="services d-flex w-100">
                    <div
                      class="icon icon-2 d-flex align-items-center justify-content-center"
                    >
                      <span class="flaticon-medal"></span>
                    </div>
                    <div class="text pl-3">
                      <h2 data-i18n="contactSubHeading1">Certificate</h2>
                      <p data-i18n="contactSubP1">
                        He has obtained academic degrees in various
                        specializations according to local law, as well as a
                        variety of international death laws
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="services d-flex w-100">
                    <div
                      class="icon icon-2 d-flex align-items-center justify-content-center"
                    >
                      <span class="flaticon-auction"></span>
                    </div>
                    <div class="text pl-3">
                      <h2 data-i18n="contactSubHeading2">
                        27 Years Of Experience
                      </h2>
                      <p data-i18n="contactSubP2">
                        Providing the best lawyer strategy to enhance its
                        ability to solve legal problems with the lowest time and
                        cost.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="services d-flex w-100">
                    <div
                      class="icon icon-2 d-flex align-items-center justify-content-center"
                    >
                      <span class="flaticon-lawyer"></span>
                    </div>
                    <div class="text pl-3">
                      <h2 data-i18n="contactSubHeading3">
                        Best Attorneys Team
                      </h2>
                      <p data-i18n="contactSubP3">
                        We Have The Strongest Lawyers To Defend You And Provide
                        Legal Protection For You And Your Property.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6 half ftco-animate">
            <h2 class="mb-4" data-i18n="formHeading1">
              Submit Your Legal Problem
            </h2>
            <form method="POST" action="{% url 'contact_form' %}" class="appointment" id="targetForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="text" class="form-control input-Law" id="name-input" required data-i18n="name" placeholder="Your Name" name="name" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group"> 
                    <input type="text" class="form-control input-Law" id="email-input" required data-i18n="email" placeholder="Email" name="email" />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="form-field">
                      <div class="select-wrap">
                        <div class="icon">
                          <span class="fa fa-chevron-down"></span>
                        </div>
                        <select name="service" id="" class="form-control">
                          <option value="مجالات الممارسه", data-i18n="lawServies1">
                            Practice Areas
                          </option>
                          <option value="تأسيس الشركات" data-i18n="lawServies2">
                            Incorporation of companies
                          </option>
                          <option value="التراخيص" data-i18n="lawServies3">
                            Licenses
                          </option>
                          <option value="تحصيل الديون" data-i18n="lawServies4">
                            Debt collection
                          </option>
                          <option value="الضرائب" data-i18n="lawServies5">
                            Taxes
                          </option>
                          <option value="عقود المقاولات والانشاءات" data-i18n="lawServies6">
                            Contracting & Construction Contracts
                          </option>
                          <option value="الملكية الفكرية" data-i18n="lawServies7">
                            Mergers & Acquisitions
                          </option>
                          <option value="عمليات الدمج والاستحواذ" data-i18n="lawServies66">
                            Intellectual Property
                          </option>
                          <option value="التقاضي" data-i18n="lawServies77">
                            Litigation
                          </option>
                          <option value="الترجمة القانونية" data-i18n="lawServies8">
                            Legal Translation
                          </option>
                          <option value="التحكيم التجاري الدولي" data-i18n="lawServies9">
                            International Commercial Arbitration
                          </option>
                          <option value="صياغة العقود" data-i18n="lawServies10">
                            Drafting contracts
                          </option>
                          <option value="حوكمة الشركات" data-i18n="lawServies11">
                            Corporate Governance
                          </option>
                          <option value="قطاع الطاقة" data-i18n="lawServies12">
                            Energy Sector
                          </option>
                          <option value="الخدمات العقارية" data-i18n="lawServies13">
                            Property services
                          </option>
                          <option value="التمويل المصرفي" data-i18n="lawServies14">
                            Banking Finance
                          </option>
                          <option value= "النزاعات العمالية" data-i18n="lawServies15">
                            Labor disputes
                          </option>
                          <option value="شؤون الأجانب والخدمات القنصلية" data-i18n="lawServies16">
                            Foreigners Affairs and Consular Services
                          </option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea required name="message"  cols="30" rows="7" class="form-control" id="message-input" data-i18n="message"
                      ></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input type="submit" id="submit-btn" data-i18n="send" class="btn btn-primary py-3 px-4 input-Law2" />
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    <footer class="ftco-footer">
      <div class="container">
        <div class="row mb-5">
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2 logo website-logo">
                <a class="navbar-brand website-logo" href="index.html">
                  <img class="logo-img logo-En" src="images/logoEn.webp" width="180px" height="60px" alt="logo"
                    data-lng="En">
                  <img class="logo-img logo-Ar" src="images/logoAr.webp" width="180px" height="60px" alt="logo"
                    data-lng="Ar">
                </a>
              </h2>
    
              <p data-i18n="footerPara16" class="footerparag">
                the Juhany Law Firm is one of the largest full-fledged commercial
                law firms in Egypt and the Middle East. It was established in 1997.
                Our goal is to provide our clients with outstanding quality services
                and innovative legal solutions in the fields of individuals,
                companies and registrations.
              </p>
              <ul class="ftco-footer-social list-unstyled mt-2">
                <li class="ftco-animate">
                  <a href="https://www.facebook.com/ahmed.foad.754"><span class="fa fa-facebook"></span></a>
                </li>
                <li class="ftco-animate">
                  <a href="https://www.youtube.com/@ahmedfoad500"><span class="fa fa-youtube"></span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2" data-i18n="footerHeading4">Explore</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="services.html" data-i18n="footerPara14"><span class="fa fa-chevron-right mr-2"></span>Practice
                    Areas</a>
                </li>
                <li>
                  <a href="services.html" data-i18n="services"><span class="fa fa-chevron-right mr-2"></span> Services</a>
                </li>
                <!-- <li>
              <a href="team.html" data-i18n="footerPara15"><span class="fa fa-chevron-right mr-2"></span>Team</a>
              </li> -->
              </ul>
            </div>
          </div>
    
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2" data-i18n="footerHeading2">Company</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="about.html" data-i18n="footerPara4"><span class="fa fa-chevron-right mr-2"></span>About Us</a>
                </li>
                <li>
                  <a href="blog.html" data-i18n="footerPara5"><span class="fa fa-chevron-right mr-2"></span>Blog</a>
                </li>
                <li>
                  <a href="contact.html" data-i18n="footerPara6"><span class="fa fa-chevron-right mr-2"></span>Contact</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2" data-i18n="footerHeading1">
                Have a Questions?
              </h2>
              <div class="block-23 mb-3">
                <ul>
                  <li>
                    <span class="icon fa fa-map marker"></span><span class="text" data-i18n="footerPara1">7 Al-Ahram Street,
                      Al-Korba, Heliopolis - second floor
                    </span>
                  </li>
                  <li>
                    <a href="https://wa.me/+201001647862"><span class="icon fa fa-phone"></span><span class="text"
                        data-i18n="footerPara2">201001647862+</span></a>
                  </li>
                  <li>
                    <a href="#"><span class="icon fa fa-phone"></span><span class="text" data-i18n="footerPara165">02
                        24147400</span></a>
                  </li>
                  <li>
                    <a href="mailto:Afg.economics7@gmail.com"><span class="icon fa fa-paper-plane pr-4"></span><span
                        class="text" data-i18n="footerPara3">Afg.economics7@gmail.com</span></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid px-0 py-5 bg-black">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="mb-0" style="color: rgba(255, 255, 255, 0.5)">
                <span data-i18n="footerCopyright">Copyright &copy; 2023 All rights reserved
                </span>
                <i class="fa fa-heart color-danger" aria-hidden="true"></i>
                <a href="https://wa.me/+201025376604">YoussefAshraf</a> |
                <a href="https://wa.me/+201009305238">Hazem</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
      <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
      </svg>
    </div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><svg xmlns="http://www.w3.org/2000/svg"
        height="1em" viewBox="0 0 384 512">
        <path
          d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z" />
      </svg></a>
    
    <script>
      const nameInput = document.querySelector("#name-input");
      const emailInput = document.querySelector("#email-input");
      const messageInput = document.querySelector("#message-input");
      const check = document.querySelector('.check');
      $("#submit-btn").click(function (e) {
        e.preventDefault();
        if (
          nameInput.value !== "" &&
          nameInput.value.length >= 4 &&
          emailInput.value.length > 8 &&
          emailInput.value !== "" &&
          messageInput.value !== "" &&
          messageInput.value.length > 8
        ) {
          go();
          nameInput.value = emailInput.value = messageInput.value = "";
        }
    
      });
      const removeMessage = function () {
        $(".message-success").removeClass("comein");
        $(".check").removeClass("scaledown");
        $(".sucess-overlay").hide();
        check.style.visibility = 'hidden';
    
      };
      $("#ok").click(function (e) {
        $('.appointment').submit(function (e) {
          e.preventDefault();
          $.ajax({
            method: 'POST',
            url: "{% url 'contact_form' %}",
            data: new FormData(this),
            contentType: false,
            processData: false,
            success: function (data) {
            },
            error: function (error_data) {
            }
          });
    
        });
        removeMessage();
      });
      document.addEventListener('keydown', function (e) {
        if (e.key === 'Escape') {
          removeMessage();
    
        }
      })
    
    
      function go() {
        $(".message-success").addClass("comein");
        $(".check").addClass("scaledown");
        check.style.visibility = 'visible';
        $(".sucess-overlay").fadeToggle();
    
      }
    
    </script>
    
    
    
    </body>
    
    </html>